<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.myMapper">
	<!-- Entry User -->
	<insert id="insertUser" parameterType="model.User">
		insert into user_account values(#{user_id}, #{password}, #{user_name}, #{email})
	</insert>
	
	<!-- Login User -->
	<select id="getUser" resultType="model.User" parameterType="String">
		select * from user_account where user_id=#{id}
	</select>
	<select id="getPassword" resultType="String" parameterType="String">
		select password from user_account where user_id=#{id}
	</select>
	<select id="checkId" parameterType="String" resultType="Integer">
		select count(*) as cnt from user_account where user_id=#{id}
	</select>
	
	<!-- Bbs_word -->
	<select id="getMaxBbsId" resultType="Integer">
		select max(seqno) as max_id from bbs_word
	</select>
	<insert id="putBBS_word" parameterType="model.Bbs_word">
		insert into bbs_word values(#{seqno},#{title},#{content},#{rank},#{id},#{bbs_date})
	</insert>
	
	<select id="getBbs_wordList" resultType="model.Bbs_word">
		select seqno, title, content, rank, id, bbs_date from(
			select a.*, rownum rn from
				(
					(
						(select * from bbs_word order by seqno desc)a
					)
				)
		)where rn between #{startRow} and #{endRow}
	</select>
	<select id="getBbs_wordCount" resultType="Integer">
		select count(*) as num from bbs_word
	</select>
	<select id="getBbs_wordDetail" resultType="model.Bbs_word">
		select * from bbs where seqno=#{seqno}
	</select>
	
</mapper>






